html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
html {
  box-sizing: border-box;
}
a {
	text-decoration: none;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.line {
  margin-left: -15px;
  margin-right: -15px;
}
.line:after,
.line:before {
  content: " ";
  display: table;
}
.line:after {
  clear: both;
}
.col-1-of-3 {
  position: relative;
  min-height: 1px;
}
.col-2-of-3 {
  position: relative;
  min-height: 1px;
}
.col-1-of-4 {
  position: relative;
  min-height: 1px;
}
@font-face {
  font-family: 'Pacifico';
  src: url('../fonts/Pacifico/Pacifico.eot');
  src: url('../fonts/Pacifico/Pacifico.eot?#iefix') format('embedded-opentype'), url('../fonts/Pacifico/Pacifico.woff') format('woff'), url('../fonts/Pacifico/Pacifico.ttf') format('truetype'), url('../fonts/Pacifico/Pacifico.svg#Pacifico') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansLight/OpenSansLight.eot');
  src: url('../fonts/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansLight/OpenSansLight.woff') format('woff'), url('../fonts/OpenSansLight/OpenSansLight.ttf') format('truetype'), url('../fonts/OpenSansLight/OpenSansLight.svg#OpenSans') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot');
  src: url('../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'), url('../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'), url('../fonts/OpenSansSemiBold/OpenSansSemiBold.svg#OpenSans') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold/OpenSansBold.eot');
  src: url('../fonts/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff'), url('../fonts/OpenSansBold/OpenSansBold.ttf') format('truetype'), url('../fonts/OpenSansBold/OpenSansBold.svg#OpenSans') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-camera:before {
  content: "\f030";
}
.icon-pencil-square:before {
  content: "\f044";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-trophy:before {
  content: "\f091";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-search:before {
  content: "\e900";
}
body {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 1500px;
  margin: 0 auto;
}
header .header__slider {
  position: relative;
  width: 100%;
  height: 560px;
  background-image: url('../imgs/header__banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
header .header__slider .slider-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
header .header__slider .slider-wrap .header-carousel {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header__slider .slider-wrap .header-carousel .owl-nav {
  position: relative;
  bottom: 220px;
}
header .header__slider .slider-wrap .header-carousel .owl-dots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
header .header__slider .slider-wrap .header-carousel .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 50%;
  margin-left: 8px;
  background-color: transparent;
}
header .header__slider .slider-wrap .header-carousel .owl-dots .owl-dot::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
}
header .header__slider .slider-wrap .header-carousel .owl-dots .owl-dot.active {
  border: 2px solid #fff;
}
header .header__slider .slider-wrap .header-carousel .owl-prev,
header .header__slider .slider-wrap .header-carousel .owl-next {
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}
header .header__slider .slider-wrap .header-carousel .owl-prev {
  float: left;
}
header .header__slider .slider-wrap .header-carousel .owl-next {
  float: right;
}
header .header__slider .slider-wrap .header-carousel .owl-prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60%;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-left-color: #fff;
  border-top-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: border-color 0.3s ease-in-out;
}
header .header__slider .slider-wrap .header-carousel .owl-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-left-color: #fff;
  border-top-color: #fff;
  transform: translate(-50%, -50%) rotate(135deg);
  transition: border-color 0.3s ease-in-out;
}
header .header__slider .slider-wrap .header-carousel .owl-prev:hover,
header .header__slider .slider-wrap .header-carousel .owl-next:hover {
  border-color: #71b6d5;
}
header .header__slider .slider-wrap .header-carousel .owl-prev:hover::after,
header .header__slider .slider-wrap .header-carousel .owl-next:hover::after {
  border-left-color: #71b6d5;
  border-top-color: #71b6d5;
}
header .header__slider .slider-wrap .item {
  position: relative;
  height: 250px;
  color: #fff;
}
header .header__slider .slider-wrap .item h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 2.5em;
}
header .header__slider .slider-wrap .item p {
  font-weight: 300;
  font-size: 1.4em;
}
header .header__slider .slider-wrap .item .show-more {
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
  padding: 15px 0;
  width: 150px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 6px;
  color: #fff;
  background-color: #71b6d5;
  text-transform: uppercase;
  font-size: 1.21em;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
header .header__slider .slider-wrap .item .show-more:hover {
  border: 2px solid #fff;
  background-color: transparent;
}
header nav .nav-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 94px;
}
header nav .nav-wrap .centred-underline {
  margin: 0 30px;
  height: 100%;
  border-bottom: 2px solid #7c7c7c;
}
header nav .nav-wrap .logo {
  float: left;
  margin: 30px 0;
}
header nav .nav-wrap .logo h1 {
  color: #fff;
  font-family: 'Pacifico', Arial, sans-serif;
  font-weight: 400;
  font-size: 2.14em;
}
header nav .nav-wrap .menu {
  float: right;
  margin: 40px 0;
}
header nav .nav-wrap .menu li {
  display: inline-block;
  margin-right: 40px;
}
header nav .nav-wrap .menu li:last-child {
  margin-right: 0;
}
header nav .nav-wrap .menu li a {
  padding: 4px 6px;
  border: 2px solid transparent;
  color: #fff;
}
header nav .nav-wrap .menu li a:hover {
  text-decoration: underline;
}
header nav .nav-wrap .menu li a.active-item {
  border-color: #fff;
}
header nav .nav-wrap .menu li a.active-item:hover {
  text-decoration: none;
}
/*============*/
/*============*/
.top .top__header {
  padding: 0 40px;
  margin-top: 60px;
  color: #575757;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.card {
  position: relative;
  overflow: visible;
  width: 320px;
  height: 250px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dedbdb;
  border-radius: 6px;
  background-image: url('../imgs/section-top__img-01.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: initial;
}
.card .card__icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 94px;
  height: 94px;
  margin-top: -47px;
  margin-left: -47px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #71b6d5;
}
.card .card__icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 2em;
  transform: translate(-50%, -50%);
}
.card img {
  display: none;
}
.card .card__header {
  position: relative;
  top: 60%;
  color: #484848;
  font-size: 1.43em;
  text-align: center;
}
.card .card__description {
  position: relative;
  top: 65%;
  color: #575757;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
/*=================*/
/*=================*/
.section__header_line {
  position: relative;
  margin-top: 70px;
  text-align: center;
}
.section__header_line::before,
.section__header_line::after {
  content: "";
  display: inline-block;
  width: 46%;
  height: 2px;
  margin: 10px 0;
  background-color: #dedbdb;
}
.section__header_line i {
  display: inline-block;
  padding: 0 20px;
  color: #71b6d5;
  font-size: 2em;
}
.section__header {
  margin-top: 20px;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
.section__header span {
  font-weight: 600;
}
.feature {
  margin-top: 40px;
}
.feature.feature_01 {
  padding-bottom: 40px;
  border-bottom: 2px solid #dedbdb;
}
.feature .feature__descr {
  padding: 0 30px;
}
.feature__img {
  display: block;
  margin: 0 auto;
}
.feature_02 .feature__img {
  margin-top: 40px;
}
.feature__descr p:nth-of-type(1) {
  margin-top: 20px;
  color: #484848;
  font-size: 1.43em;
}
.feature__descr p:nth-of-type(2) {
  margin-top: 20px;
  color: #575757;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
}
.feature__descr a {
  display: block;
  width: 120px;
  height: 30px;
  margin-top: 20px;
  padding: 6px 0;
  border: 1px solid #71b6d5;
  border-radius: 4px;
  color: #71b6d5;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.feature__descr a:hover {
  background-color: #71b6d5;
  color: #fff;
}
/*=================*/
/*=================*/
.projects__descr {
  margin-top: 12px;
  color: #575757;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.projects__line {
  margin-top: 40px;
}
.projects-col {
  padding: 0 15px;
  text-align: center;
}
.projects-col > p:nth-of-type(1) {
  margin-top: 20px;
  color: #484848;
  font-size: 1.43em;
}
.projects-col > p:nth-of-type(2) {
  margin-top: 6px;
  color: #575757;
  font-weight: 300;
  line-height: 1.2;
}
.projects__link {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 241px;
  max-height: 237px;
  margin: 0 auto;
  background-color: #71b6d5;
}
.projects__link:hover .search-layer {
  top: 0;
  opacity: 1;
}
.projects__link .search-layer {
  position: absolute;
  top: -20em;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 45% 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  text-align: center;
  transition: 0.5s 0.3s ease-in-out;
}
.projects__link .search-layer i {
  color: #fff;
  font-size: 2.5em;
}
.projects__img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-1-of-3,
  .col-2-of-3,
  .col-1-of-4 {
    float: left;
  }
  .col-1-of-3 {
    width: 33.3333%;
  }
  .col-2-of-3 {
    width: 66.6666%;
  }
  .col-1-of-4 {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (max-width: 992px) {
  .section__header_line::before,
  .section__header_line::after {
    width: 40%;
  }
}
