//text align
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

//list
.ul-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// img-responsive
.img-responsive {
  max-width: 100%;
  height: auto;
}

// container
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}