@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-1-of-3, .col-2-of-3, .col-1-of-4 {
  	float: left;
  }
  .col-1-of-3 {
  	width: 33.3333%;
  }
  .col-2-of-3 {
  	width: 66.6666%;
  }
  .col-1-of-4 {
  	width: 25%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


@media (max-width: 992px) {
  .section__header_line {
  	&::before, &::after {width: 38%;}
  }
}